<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FileTransfer.My.MySettings.HINODEDBConnectionString"
            connectionString="Data Source=SV201710;Initial Catalog=HINODEDB;Persist Security Info=True;User ID=sa;Password=cube%6614"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>