


<div style="height:100vh; width: 100%;">
    <SfAppBar ColorMode="AppBarColor.Dark" style="height: 50px;">
        <SfButton CssClass="e-inherit" IconCss="e-icons e-menu"></SfButton>
        <AppBarSpacer></AppBarSpacer>
        <SfButton CssClass="e-inherit" Content="FREE TRIAL"></SfButton>
    </SfAppBar>

    <SfSplitter Height="calc(100vh - 80px)" Width="100%">
        <SplitterPanes>
            <SplitterPane Size="300px" Min="200px">
                <ContentTemplate >
                    <div style="height: calc(100vh - 85px); display: flex; flex-direction: column; overflow:hidden">
                        
                    <FileSearchComponent />
                    
                        <div style="flex: 1; overflow: auto;">
                            <FolderTreeComponent OnSelectedFolder="HandleSelectedFolder" />
                        </div>
                    </div>
                    
                </ContentTemplate>
            </SplitterPane>
            <SplitterPane>
                <ContentTemplate>
                    
                    <FileListComponent DisplayContents="@_displayContents" OnSelectedContent="HandleContentSelection" />

                </ContentTemplate>
            </SplitterPane>
            <SplitterPane>
                <ContentTemplate>

                    <FileDetailsComponent SelectedContent="@_selectedContent"/>
                                        
                </ContentTemplate>
            </SplitterPane>
        </SplitterPanes>
    </SfSplitter>
</div>

@code {

    private string _selectedFolderPath { get; set; } = "";
    private List<DisplayContent> _displayContents = new();

    private DisplayContent? _selectedContent = new();


       

    private async Task HandleSelectedFolder(string folderPath)
    {
        _selectedFolderPath = folderPath;
        await LoadSelectedFolderContents(_selectedFolderPath);
        await InvokeAsync(StateHasChanged);
    }    
    private async Task LoadSelectedFolderContents(string folderPath)
    {
        var displayContents = new List<DisplayContent>();
        if (Directory.Exists(folderPath))
        {
            await Task.Run(() => 
            {
                foreach (var directory in Directory.GetDirectories(folderPath))
                {
                    displayContents.Add(new DisplayContent
                        {                            
                            Name = Path.GetFileName(directory),
                            IsFolder = true,
                            FullPath = directory,
                            NetworkPath = folderPath
                        });
                }            
                foreach (var file in Directory.GetFiles(folderPath))
                {
                    var fileName = Path.GetFileName(file);
                    displayContents.Add(new DisplayContent
                        {
                            Name = fileName,
                            IsFolder = false,
                            FullPath = Path.GetFullPath(file),
                            NetworkPath = folderPath + @"\" + fileName
                        });
                }
            });
        }
        _displayContents = displayContents;
    }
    
    
    private void HandleContentSelection(DisplayContent selectedContent)
    {
        _selectedContent = selectedContent;        
    }
    

    

}







