<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <connectionStrings>
    <add name="hinode-server"
            connectionString="Data Source=hinode-server.database.windows.net;Initial Catalog=HINODEDB;USER ID=hinode;PASSWORD=Hkanri8739"
            providerName="System.Data.SqlClient"/>
    </connectionStrings>		
	


    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>

